@charset "UTF-8";
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Colores
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 * ENCABEZADO
================================================================================*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*================================================================================
 * MENU LATERAL
================================================================================*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Puntos de ruptura
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Tamaños
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Titulo
 *
 *--------------------------------------------------------------------------------
================================================================================*/
.login-titulo {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  background: #7A2F2E;
  color: white; }

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Estilos especiales de login
 *
 *--------------------------------------------------------------------------------
================================================================================*/
.btn-login {
  background: #33332E;
  color: white;
  transition-duration: .2s; }

.btn-login:hover {
  background: #4e4e45;
  color: white; }

/*# sourceMappingURL=login.css.map */
