/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Titulo
 *
 *--------------------------------------------------------------------------------
================================================================================*/
.login-titulo
{
    text-align: center;
    font-size: 20px;
    padding: 8px;
    background: $admin-header-background;
    color: $admin-header-logo-color;
}