.card-especial
{
    $tamano: 248px;
    width: 100%;
    height: auto;
    cursor: pointer;
    background: $white;
    transition-duration: .2s;
    overflow: hidden;

    &:hover
    {
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    }

    img
    {
        object-position: center center;
        width: 100%;
        height: $tamano;
        object-fit: cover;
    }

    .card-body
    {
        background: $white;
    }
}