.card-especial
{
    $tamaño: 100px;
    width: 100%;
    height: $tamaño;
    overflow: hidden;
    background: $white;
    cursor: pointer;
    transition-duration: .2s;

    &:hover
    {
        background: $gray-200;

        .row
        {
            .foto
            {
                img
                {
                    border-radius: 50%;
                }
            }
        }
    }

    .row
    {
        height: 100%;

        .foto
        {
            width: $tamaño;
            height: 100%;

            img
            {
                border-radius: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition-duration: .2s;
            }
        }

        .datos
        {
            label
            {
                display: block;
                margin: 0px;
            }

            .nombre
            {
                font-size: 20px;
                font-weight: bold;
            }

            .categoria
            {
                font-size: 14px;
                color: $gray-600;
            }

            .precio
            {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}