.contenedor-alertas
{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;

    @media (min-width: $breakpoint-xs)
    {
        width: 100%;
    }

    @media (min-width: $breakpoint-sm)
    {
        width: 300px;
    }

    @media (min-width: $breakpoint-md)
    {
        width: 400px;
    }

    @media (min-width: $breakpoint-lg)
    {
        width: 500px;
    }

    @media (min-width: $breakpoint-xl)
    {
        width: 500px;
    }
}