/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Colores
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$gris: #33332E;
$negro: #000000;
$verde: #4E7A2F;
$vinotinto: #7A2F2E;



/*================================================================================
 * ENCABEZADO
================================================================================*/
$admin-header-background: #7A2F2E;
$admin-header-logo-font-size: 20px;
$admin-header-logo-color: #fff;
$admin-header-logo-color-hover: #e6b3b3;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-header-icons-color: #fff;
$admin-header-icons-color-hover: #aaa;

/*================================================================================
 * MENU LATERAL
================================================================================*/
$admin-menu-border-color: #000;
$admin-menu-font-size: 16px;
$admin-menu-background: #222d32;
$admin-menu-color: #b8c7ce;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-opcion-background-hover: #1e282c;
$admin-menu-opcion-color-hover: white;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-opcion-background-active: #1e282c;
$admin-menu-opcion-color-active: white;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-subopcion-color-hover: white;
$admin-menu-subopcion-color-active: white;

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Puntos de ruptura
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Tamaños
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$height-header-modelo: 62px;
$height-body-modelo: calc( 100% - #{$height-header-modelo} );