/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Colores
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$gris: #33332E;
$negro: #000000;
$verde: #4E7A2F;
$vinotinto: #7A2F2E;

$azul-principal: #3D5C99;
$azul-oscuro: #293D66;
$azul-gris: #7788AA;
$blanco: #fff;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #3D5C99 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

/*================================================================================
 * ENCABEZADO
================================================================================*/
$admin-header-background: #3D5C99;
$admin-header-logo-font-size: 20px;
$admin-header-logo-color: #fff;
$admin-header-logo-color-hover: #ddd;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-header-icons-color: #fff;
$admin-header-icons-color-hover: #ddd;

/*================================================================================
 * MENU LATERAL
================================================================================*/
$admin-menu-border-color: #dee2e6;
$admin-menu-font-size: 16px;
$admin-menu-background: #e9ecef;
$admin-menu-color: #343a40;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-opcion-background-hover: #dee2e6;
$admin-menu-opcion-color-hover: black;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-opcion-background-active: #d3d9e0;
$admin-menu-opcion-color-active: black;
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
$admin-menu-subopcion-color-hover: #343a40;
$admin-menu-subopcion-color-active: black;

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Puntos de ruptura
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Tamaños
 *
 *--------------------------------------------------------------------------------
================================================================================*/
$height-header-modelo: 62px;
$height-body-modelo: calc( 100% - #{$height-header-modelo} );