@charset "UTF-8";
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Colores
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 * ENCABEZADO
================================================================================*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*================================================================================
 * MENU LATERAL
================================================================================*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------
 * 
--------------------------------------------------------------------------------*/
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Puntos de ruptura
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Tamaños
 *
 *--------------------------------------------------------------------------------
================================================================================*/
/*================================================================================
 *
 *	HTML, body
 *
================================================================================*/
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Roboto; }

/*================================================================================
 *
 *	a
 *
================================================================================*/
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

[left] {
  text-align: left !important; }

[center] {
  text-align: center !important; }

[right] {
  text-align: right !important; }

/*================================================================================
 *
 *	Pantall oscura
 *
================================================================================*/
.pantalla-oscura {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  /* font-family: Roboto, Arial, sans-serif; */ }

/*================================================================================
 *
 * Widts por defecto en pixeles
 *
================================================================================*/
.w-50px {
  width: 50px !important; }

.w-100px {
  width: 100px !important; }

.w-150px {
  width: 150px !important; }

.w-200px {
  width: 200px !important; }

.w-250px {
  width: 250px !important; }

.w-300px {
  width: 300px !important; }

.w-350px {
  width: 350px !important; }

.w-400px {
  width: 400px !important; }

.w-450px {
  width: 450px !important; }

.w-500px {
  width: 500px !important; }

.min-w-50px {
  min-width: 50px !important; }

.min-w-100px {
  min-width: 100px !important; }

.min-w-150px {
  min-width: 150px !important; }

.min-w-200px {
  min-width: 200px !important; }

.min-w-250px {
  min-width: 250px !important; }

.min-w-300px {
  min-width: 300px !important; }

.min-w-350px {
  min-width: 350px !important; }

.min-w-400px {
  min-width: 400px !important; }

.min-w-450px {
  min-width: 450px !important; }

.min-w-500px {
  min-width: 500px !important; }

.max-w-50px {
  max-width: 50px !important; }

.max-w-100px {
  max-width: 100px !important; }

.max-w-150px {
  max-width: 150px !important; }

.max-w-200px {
  max-width: 200px !important; }

.max-w-250px {
  max-width: 250px !important; }

.max-w-300px {
  max-width: 300px !important; }

.max-w-350px {
  max-width: 350px !important; }

.max-w-400px {
  max-width: 400px !important; }

.max-w-450px {
  max-width: 450px !important; }

.max-w-500px {
  max-width: 500px !important; }

.w-20 {
  width: 20% !important; }

/*================================================================================
 *
 * Ajsute de una clase de bootstrap
 *
================================================================================*/
.modal-footer {
  justify-content: center; }
  .modal-footer button {
    width: 120px; }

.page-link {
  cursor: pointer;
  user-select: none; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs .list-item .nav-link {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    transition-duration: .2s; }
    .nav-tabs .list-item .nav-link.active {
      border-bottom-color: white; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6 !important; }

/*================================================================================
 *
 * Div posicionado absolutamente a la derecha
 *
================================================================================*/
.div-flotante {
  position: absolute;
  top: calc(100% + 2px);
  right: 0px;
  z-index: 1030;
  width: 100%;
  display: flex;
  align-items: center; }

.opcion-flotante-derecha {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  transition-duration: .2s;
  cursor: pointer; }
  .opcion-flotante-derecha:hover {
    background: rgba(0, 0, 0, 0.1); }

/*================================================================================
 *
 * 
 *
================================================================================*/
@media (max-width: 576px) {
  .no-movil {
    display: none; } }

@media (max-width: 768px) {
  .no-table {
    display: none; } }

/*================================================================================
 *
 * 
 *
================================================================================*/
.logo-muestra {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 140px;
  height: 140px;
  transition-duration: .2s; }
  .logo-muestra:hover {
    cursor: pointer; }
  .logo-muestra:focus {
    outline: none; }
  .logo-muestra:active {
    border-width: 2px; }
  .logo-muestra:hover::before, .logo-muestra:focus::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }
  .logo-muestra::after, .logo-muestra::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f304';
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #000000;
    border-bottom-left-radius: 10px;
    padding: 5px 7px;
    position: absolute;
    top: 0px;
    right: 0px; }
  .logo-muestra img {
    user-select: none;
    width: 100%;
    height: 100%; }

/*================================================================================
 *
 * 
 *
================================================================================*/
.foto-usuario-muestra {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: none;
  border-radius: 10px;
  width: 140px;
  height: 140px;
  transition-duration: .2s; }
  .foto-usuario-muestra:hover {
    cursor: pointer; }
  .foto-usuario-muestra:focus {
    outline: none; }
  .foto-usuario-muestra:active {
    border-width: 2px; }
  .foto-usuario-muestra:hover::before, .foto-usuario-muestra:focus::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }
  .foto-usuario-muestra::after, .foto-usuario-muestra::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f304';
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #000000;
    border-bottom-left-radius: 10px;
    padding: 5px 7px;
    position: absolute;
    top: 0px;
    right: 0px; }
  .foto-usuario-muestra img {
    user-select: none;
    width: 100%; }

.usuario-miniatura {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: none;
  border-radius: 10px;
  width: 38px;
  height: 38px;
  transition-duration: .2s; }
  .usuario-miniatura img {
    user-select: none;
    width: 100%; }

/*================================================================================
 *
 * 
 *
================================================================================*/
.foto-plato-muestra {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: none;
  width: 64px;
  height: 64px;
  transition-duration: .2s; }
  .foto-plato-muestra:hover {
    cursor: pointer; }
  .foto-plato-muestra:focus {
    outline: none; }
  .foto-plato-muestra:active {
    border-width: 2px; }
  .foto-plato-muestra:hover::before, .foto-plato-muestra:focus::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }
  .foto-plato-muestra::after, .foto-plato-muestra::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f304';
    font-weight: bold;
    font-size: 10px;
    color: white;
    background: #000000;
    border-bottom-left-radius: 10px;
    padding: 5px 7px;
    position: absolute;
    top: 0px;
    right: 0px; }
  .foto-plato-muestra img {
    user-select: none;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%; }

.plato-miniatura {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: none;
  border-radius: 0px;
  width: 38px;
  height: 38px;
  transition-duration: .2s; }
  .plato-miniatura img {
    user-select: none;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%; }

/*================================================================================
 *
 * 
 *
================================================================================*/
.card-especial {
  width: 100%;
  height: auto;
  cursor: pointer;
  background: #fff;
  transition-duration: .2s;
  overflow: hidden; }
  .card-especial:hover {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5); }
  .card-especial img {
    object-position: center center;
    width: 100%;
    height: 248px;
    object-fit: cover; }
  .card-especial .card-body {
    background: #fff; }

.card-especial-sm {
  width: 100%;
  height: auto;
  cursor: pointer;
  background: #fff;
  transition-duration: .2s;
  overflow: hidden; }
  .card-especial-sm:hover {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5); }
  .card-especial-sm img {
    object-position: center center;
    width: 100%;
    height: 170px;
    object-fit: cover; }
  .card-especial-sm .card-body {
    background: #fff; }

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	Titulo
 *
 *--------------------------------------------------------------------------------
================================================================================*/
.login-titulo {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  background: #3D5C99;
  color: #fff; }

/*================================================================================
 *--------------------------------------------------------------------------------
 *
 *	modal-img
 *
 *--------------------------------------------------------------------------------
================================================================================*/
.modal-img {
  width: 100%;
  height: 248px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ced4da; }
  .modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; }

.modal-body {
  overflow-wrap: break-word; }

.contenedor-alertas {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2000; }
  @media (min-width: 0) {
    .contenedor-alertas {
      width: 100%; } }
  @media (min-width: 576px) {
    .contenedor-alertas {
      width: 300px; } }
  @media (min-width: 768px) {
    .contenedor-alertas {
      width: 400px; } }
  @media (min-width: 992px) {
    .contenedor-alertas {
      width: 500px; } }
  @media (min-width: 1200px) {
    .contenedor-alertas {
      width: 500px; } }

/*# sourceMappingURL=core.css.map */
